{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 8
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "rules": {
        "no-unused-vars": [
            "error",
            {
                "vars": "local",
                "args": "none"
            }
        ],
        " no-console": 0
    }
}